@model ShoeStore.Models.Item

<div class="card effect">
    <a href="">
        <h1>@Model.Model (@Model.Brand)</h1>
        <img src="" height="200" />
        <table>
            <tr>
                <td>
                    <p>@Model.Sex</p>
                </td>
                <td>
                    <p>Cena</p>
                </td>
            </tr>
        </table>
    </a>
</div>